/* Général */

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0px auto;
}

/* Navigation */

header h1 {
	padding: 5px 15px;
	font-size: 0px;
}

header a {
	color: black;
	font-size: 1.5rem;
	padding: 5px 15px;
}
header a:hover {
	color: #ac7707;
}
.imgLogo {
	width: 200px;
}
.flexNavigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.menu {
	display: flex;
	list-style: none;
	align-items: center;
}

.focus {
	text-decoration: none;
}

.maCommande {
	padding: 10px;
	box-shadow: 2px 3px 3px 3px #ccc;
}
