/* Général */

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0px auto;
}

/* Navigation */

nav h1 {
	padding: 0px;
	margin: 0px 0px 4px;
	font-size: 0px;
	width: 50%;
	height: 0%;
}

header a {
	color: black;
	font-size: 1.5rem;
	padding: 5px;
}
header a:hover {
	color: #ac7707;
}
.imgLogo {
	width: 200px;
}
.flexNavigation {
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu {
	display: flex;
	list-style: none;

	justify-content: space-between;
	align-items: center;
}

.focus {
	text-decoration: none;
}

.maCommande {
	padding: 10px;
	box-shadow: 2px 3px 3px 3px #ccc;
}
